<div class="block-title"> Search Notices By Cemetery <span class="fa fa-cog float-right mt-1 filter-btn" (click) = "openfilter()"></span></div>
<div *ngIf="loading==1" class="spinner-border border-green" role="status">
	<span class="sr-only">Loading...</span>
</div>
<div *ngFor="let ceme of cemdeath">
	<div class="list-item container pt-2 pb-2">
		<a routerLink="/deathnotices/{{ceme.firstname+'-'+ceme.lastname+'-'+ceme.county_name + (ceme.town_name.trim()!=''?('-'+ceme.town_name):'')}}/{{ceme.id}}">
		<div class="row align-items-center">
			<div class="col-auto line-head pr-1">
				<fa name="cross"></fa>
			</div>
			<div class="col">
				<div class="line-content">
					<p class="uname mb-0">{{ ceme.firstname }} {{ceme.lastname}}</p> 
					<p class="gray_text mb-0">{{ceme.desc}}</p>
					<p class="gray_text mb-0">{{ ceme.town_name }} {{ ceme.county_name }}</p>
				</div>
			</div>
			<div class="col-1 p-1">
				<i class="fa fa-search"></i>
			</div>
		</div>
		</a>
	</div>
</div>